.a{
    font-size: 60px;
    text-align: center;
}
.b{
    font-size: 30px;
    margin-left: 720px;
}
.c{
    font-size: 70px;
    text-align: center;
}
.d{
    
    margin-left: 620px;
}
.e{
    font-size: 30000x;
}